@model Proyecto_Asp_Final.sucursal

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>sucursal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Sucursal }) |
    @Html.ActionLink("Back to List", "Index")
</p>
