@model IEnumerable<Proyecto_Asp_Final.Inventario>

@{
    ViewBag.Title = "Inventario";
}

<h2>Inventario</h2>
<center><input type="button" value="refrescar" onclick="javascript:window.location.reload();" class="btn btn-default"/></center>
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pieza)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th >
            <p style="display:none;">@Html.DisplayNameFor(model => model.Numero_de_estante)</p>Numero de Estante
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fabricante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            <p style="display:none;"> @Html.DisplayNameFor(model => model.Fecha_de_registro)</p>Fecha de Registro
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pieza)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Numero_de_estante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fabricante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_de_registro)
        </td>

    </tr>
}

</table>
