@model IEnumerable<Proyecto_Asp_Final.Usuarios>

@{
    ViewBag.Title = "Usuarios";
}

<h2>Usuarios</h2>

<center><input type="button" value="refrescar" onclick="javascript:window.location.reload();" class="btn btn-default"/></center>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellidos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contacto)
        </th>
        <th>
            <p style="display:none;"> @Html.DisplayNameFor(model => model.Fecha_de_nacimiento)</p>Fecha De Nacimiento
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contraseña)
        </th>
        <th>
            <p style="display:none;">@Html.DisplayNameFor(model => model.Cargos.Nombre)</p>Cargo
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contacto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_de_nacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contraseña)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cargos.Nombre)
            </td>

        </tr>
    }

</table>
